.main-content {
  margin: 10px auto 0;
  max-width: 1100px;
}
.main-left {
  padding: 16px;
  margin: 0 10px 16px 0;
  border-radius: 4px;
  border: 1px solid #EEEEEE;
  background-color: #FFFFFF;
}
.main-right {
  margin-bottom: 16px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #EEEEEE;
  background-color: #FFFFFF;
}
.main-left .ant-list-item-meta-title{
  color: #1890ff;
}
.main-left .page-list-header .more{
  float: right;
}